<div class="post" *ngFor="let a of listPost">
    <section class="cabecalhoPost">
        <h1 class="tituloPost">{{a.nome}}</h1>
        <div class="membroPost">
            <p class="dataPost">{{a.data}}</p>
        </div>
    </section>

    <!-- Conteúdo -->
    <section class="conteudoPost">
        <div class="imagem">
            <img src="./assets/_iconPage.png">
        </div>
        <div class="texto">
            <p>{{a.conteudo}}</p>
        </div>

    <!-- Botões CRUD -->
    <section class="crud">
        <button class="btn edit" routerLink="editar-post/{{a.codigo}}">EDITAR</button>
        <button class="btn delet" routerLink="excluir-post/{{a.codigo}}">EXCLUIR</button>
    </section>
    </section>
</div> 