<div class = "navLink">
    <ul>
        <b>
            <section>
                <li ><a routerLink="posts" class = "linkSobre">POSTS</a></li>
                <hr/>
                <li ><a routerLink="mapas" class = "linkSobre">MAPAS</a></li>
                <hr/>
                <li ><a routerLink="pesquisas" class = "linkSobre">PESQUISAS</a></li>
                <hr/>
                <li class = "mainNav"><a routerLink="sobre" class = "linkSobre">SOBRE</a></li>
                <hr/>
                <li class = "sideNav"><a routerLink="admin" class = "linkSobre">ADMIN</a></li>
                <!-- <li class = "sideNav"><a routerLink="cadastro" class = "linkSobre">CADASTRO</a></li> -->
            </section>  
        </b>
    </ul>
</div>