<section class="tituloPesquisa">
  <h2 class="nomesPesq">Nome da pesquisa</h2>
  <h2 class="idPesq">ID: 6545462</h2>
</section>
<section class = "conteudoMain">
  <h3>Objetivo da pesquisa</h3>
  <p class = "conteudo">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus odio vero illo perspiciatis ipsa reprehenderit, quasi aperiam tenetur incidunt architecto a, voluptatibus rem inventore tempore ex porro. Maiores perferendis tenetur culpa ea nobis nemo? Architecto exercitationem repudiandae dignissimos libero, aliquam sapiente minima magnam fugiat itaque voluptatum unde laudantium quos dolore id provident dolores velit quo! Similique consequatur laborum eum reprehenderit voluptatem a, ipsum nostrum fuga voluptates est asperiores magni blanditiis nisi nobis nam itaque, facere aliquid ipsam doloremque necessitatibus dolores eius perspiciatis! Voluptas sed tempore dicta quo iste voluptatibus magnam dolore, pariatur fugit eligendi, numquam mollitia rerum nemo dolor amet.
  </p>
</section>

<!-- Tabela angular -->
<div class="example-container mat-elevation-z8" id="teste">
  <table mat-table [dataSource]="listPerguntas">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Nº da pergunta </th>
    <td mat-cell *matCellDef="let element"> {{element.numPerguntar}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="optionOne">
    <th mat-header-cell *matHeaderCellDef> Sim / Boa / Público </th>
    <td mat-cell *matCellDef="let element"> {{element.optionOne}}% </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="optionTwo">
    <th mat-header-cell *matHeaderCellDef> Não / Ruim / Privado </th>
    <td mat-cell *matCellDef="let element"> {{element.optionTwo}}% </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Sem resposta </th>
    <td mat-cell *matCellDef="let element"> {{element.noResponse}}% </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef> Grupo </th>
    <td mat-cell *matCellDef="let element"> {{element.grupo}} </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Table angular -->
<button mat-button [matMenuTriggerFor]="menu" class="links">LINKS</button>
<mat-menu #menu="matMenu">
  <a href="https://github.com/Nethobr/Projeto-de-pesquisa-e-meio-ambiente" target="_blank"><button mat-menu-item>GitHub</button></a>
  <a href="https://github.com/Nethobr/Projeto-de-pesquisa-e-meio-ambiente/blob/main/ENTREVISTAS%20-%20TRABALHADORES.pdf" target="_blank"><button mat-menu-item>Perguntas</button></a>
</mat-menu>

<section class="rodaPePost">
  <div class="copy">
      RB3 &copy; 
  </div>
  <hr />
</section>